<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.77.0.0" targetFramework="native" />
  <package id="boost_filesystem-vc140" version="1.77.0.0" targetFramework="native" />
  <package id="boost_python39-vc140" version="1.77.0.0" targetFramework="native" />
  <package id="boost_system-vc140" version="1.77.0.0" targetFramework="native" />
  <package id="openssl-vc140-static-32_64" version="1.1.1.1" targetFramework="native" />
  <package id="vcpkg-export-boost-asio-x64-static" version="1.0.1" targetFramework="native" />
</packages>